:root{
	--bgColor:  #1d324d;
	--textColor: #eaeaea;
}

body{
	background: var(--bgColor);
	color: var(--textColor);
}

.list-num{
    font-size: 28px;
}

.font-weight-bold{
	font-weight: bold;
	font-size: 1.2em;
}

.row > div + div + div{
	background: rgba(0, 0, 0, .1);
}